@font-face {
    font-family: HelveticaNeueCyr;
    src: url(../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.otf);
   }

html {
    font-family: HelveticaNeueCyr;
}

a:hover {
    text-decoration: none;
}

hr {
    height: 1px;
    opacity: 0.18;
}

.vertical-line {
    border: 1px solid black;
    width: 1px;
    height: 50px;
    border-collapse: inherit;
}

.social > img {
    width: 20px;
}

.row {
    /*width: 1200px !important;*/
}

.right {
    float: right;
}

.image-logo {
    width: 165px;
    height: 74px;
}

.header {
    background: url(../img/layer-2.png) no-repeat;
    width: 100%;
    /*-moz-background-size: 100%;*/
    /*-webkit-background-size: 100%;*/
    /*-o-background-size: 100%;*/
    /*background-size: 100%;*/
    height: 80px;
    background-size: cover;
}
.body {
    background-color: #eee;
    min-height: 400px;
    display: block;
}

.menu > li {
    list-style-type: none;
}

.menu > li > a {
    color: #4d4d4d;
    font-weight: 400;
}

.menu {
    background-color: #eee;
}

.body {
    padding-top: 15px;
}

.line {
    width: 100%;
}

.icon {
    padding-right: 5px;
}

.footer {
    background: url(../img/layer-4-cop-2.png) no-repeat;
    height: 80px;
    /*background-size: cover;*/
}

.right > img {
    width: 165px;
    height: 74px;
}

.phone {
    display: inline-block;
    font-family: HelveticaNeueCyr;
    color:  #1d1e1e;
    padding: 20px 10px;
}

.phone > span {
    font-weight: 100px;
}

.private-cab {
    color: #fff;
    padding-top: 7px;
}

.private {
    width: 170px;
    margin: auto;
    font-size: 21px;
}

.private > a {
    color: #fff;
}

.copyright {
    float: right;
    padding-top: 30px;
}

.back {
    width: 160px;
    margin: auto;
    font-size: 15px;
    text-decoration: underline;
}

.back > a > img {
    width: 13px;
    padding-bottom: 3px;
    margin-right: 3px;
    /*background-size: cover;*/
}

.back > a {
    color: #fff;
    font-weight: 200;
}

.img-out {
    height: 60px;
}

.img-out > a {
    color: #fff;
}

.img-out > a > img {
    float: right;
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.out {
    position: absolute;
    font-size: 11px;
    bottom: 5px;
    right: 14px;
    font-weight: 200;
    float: right;
    vertical-align: bottom;
}

.out > a {
    color: #fff;
}

.figura > img {
    float: right;
    height: 70px;
    padding-right: 10px;
    padding-top: 15px;
}

.admin > a {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    float: right;
    padding-top: 25px;
    padding-right: 10px;
}

.admin > a > p {
    text-align: right;
    margin: 0px;
    height: 24px;
    margin-top: -5px;
}

.social {
    padding-top: 10px;
    display: inline-block;
    height: 50px;
}

.circle {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
}

.addres {
    display: inline-block;
    padding-left: 10px;
}

.modal-dialog {
    /*background-image: url(../img/fon.jpg) !important;*/
    background: linear-gradient(to right top, #f58905 , #cae700);
    padding: 5px;
    border-radius: 10px;
}

.modal-content {
    box-shadow: 0px 0px 0px;
    border: 0px;
}

@media screen and (max-width: 1354px) {
    .menu > li > a {
        font-size: 11px;
    }
}

@media screen and (max-width: 991px) {
    .addres {
        display: none;
    }
}

@media screen and (max-width: 518px) {
    .phone {
        display: none;
    }
}

@media screen and (min-width: 1800px) {
    .icon {
        padding-right: 10px;
    }
    .container-fluid {
        height: 125px;
    }

    .row {
        width: 1520px !important;
        margin: auto;
        height: 125px;
    }

    .image-logo {
        width: 245px;
        height: 115px;
        padding-top: 10px;
    }

    .private {
        width: 100%;
        padding-top: 10px;
    }

    .private > a {
        font-size: 30px;
    }

    .back {
        width: 100%;
    }

    .back > a {
        padding-left: 10px;
        font-size: 23px;
    }

    .admin {
        position: absolute;
        top: 50px;
        right: 115px;
        font-size: 25px;
        width: 200px;
        height: 50px;
        margin: 0px;
        display: inline-block;
    }

    .xs {
        height: 125px;
    }

    .admin > a {
        font-size: 23px;
        padding: 0px;
    }

    .figura {
        height: 125px;
    }

    .figura > img {
        height: 105px;
        padding-top: 20px;
    }

    .img-out {
        height: 125px;
    }

    .img-out > a > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding-top: 0px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .out {
        top: 80px;
        right: 15px;
        font-size: 17px;
    }
    .phone {
        padding-top: 45px;
    }

    .copyright {
        padding-top: 55px;
    }

    .admin > a > p {
        text-align: right;
        margin: 0px;
        height: 40px;
        margin-top: -15px;
        margin-right: -7px;
    }
}

@media screen and (max-width: 414px) {
    .header {
        background: url(../img/layer-2.png) no-repeat;
        width: 100%;
        background-size: contain;
    }

    .private-cab {
        display: none;
    }

    .img-out {
        display: none;
    }

    .image-logo {
        width: 125px;
        height: 65px;
    }
}